autostart
dconf
enchant
eog
evolution
geary
gedit
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
.gsd-keyboard.settings-ported
gtk-2.0
gtk-3.0
gtk-4.0
ibus
libreoffice
mimeapps.list
nautilus
neofetch
pop-shell
pop-system-updater
pulse
tmux/plugins/*
touchegg
user-dirs.dirs
user-dirs.locale
